.header{
    display: grid;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    place-items: center;
    background: var(--bg-color);
}

.input{
    background-color: rgba(121, 121, 121, 0.2);
    color: var(--font-input);
    font-size: 1rem;
    text-align: center;
    padding: 7px 7px;
    border-radius: 5px;
    margin: 10px 10px;
    border: 1px solid rgba(121, 121, 121, 0);
    width: 80vw;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
